/* image banniere */
#banniere
{
    background-color: white;
} 

/* navigation de page*/
 
.bg-vert
{
    background-color : #036f7b !important;
}

/* header  */
nav a
{
    font-size: large;
    font-weight: bold ;
}
nav a:hover, #en-cours
{
    border-bottom: 2px solid white;
}
nav li
{
    margin-right: 30px;
}

/* icone pour le bouton menu petit ecran */
#togglerIcon
{
    background-image: url(../../public/images/favicon.png);
}
#btnmenu
{
    border: none;
}
#btnmenu:focus
{
    outline: none;
}

/* footer */
#navbot
{
    font-weight: bold ;
}

/* carousel */
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

/*Eléments principaux de la page */
 .titre
{
    text-align: center;
    color: black;
    font-weight: bold;
    border: 3px #036f7b double;
    padding: 5px 5px;
    width: 100%;

}

.col-lg-3 img
{
    border: 1px solid #181818;
    width: 200px;
    height: auto;
    margin: 30px;
}
.row
{
    text-align: justify;
    width: 100%;
    margin: auto;
}

/* icone */
#icoSchool
{
    max-width:45px;
    height: auto;
}

/* image  */
/* #logoAFPA
{
    align-content: end;
} */