/* image banniere */
#banniere
{
    background-color: white;
} 

/* navigation de page*/
.bg-vert
{
    background-color : #036f7b !important;
}

/* header  */
nav a
{
    font-size: large;
    font-weight: bold ;
}
nav a:hover, #en-cours
{
    /* border-bottom: 2px solid white; */
    text-decoration: underline;
    text-underline-position: under;
}
nav li
{
    margin-right: 30px;
}

/* icone pour le bouton menu petit ecran */
#togglerIcon
{
    background-image: url(../../public/images/favicon.png);
}
.navbar-toggler-icon
{
    width: 45px;
    height: 45px;
}
#btnmenu
{
    border: none;

}
#btnmenu:focus
{
    outline: none;
}

/* footer */
#navbot
{
    font-weight: bold ;
}

/* carousel */
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

/*Eléments principaux de la page */
.row
{
    width: 100%;
    margin: auto;
    text-align: justify;
}
.titre
{
    text-align: center;
    color: black;
    font-weight: bold;
    border: 3px #036f7b double;
    padding: 5px 5px;
    width: 100%;

}
h2 
{
color: #036f7b;
}
h2 , h4
{
    text-transform: uppercase;

}

h4, h5 a, h5 a:hover
{
    color:#478e95; 
}

/* icone */
.iconeTitre
{
    max-width:45px;
    height: auto;
}


/* image aside  */
.col-md-4 img
{
    border: 1px solid #013b40;
    width: 200px;
    height: auto;
    /* margin: 30px; */
    /* margin-top: 100px; */
}

.icoInfo, #github, #linkedin
{
width: 40px;
height: auto;
}

#zb
{
    width: 50%;
    height: auto;
}

.card, .card-header, .input-group-text, .form-control
{
    border-color: #036f7b;
}

.form-control
{
    height: 50px;
}

textarea {
    resize: none;
  }